#scrum {
	width:100%;
	border-spacing: 10px;
}

td.projectDrag {
	vertical-align: top;
	background: #fff;
	border:1px solid #2AA8B9;
	width:50%;
	padding:10px 20px;
	
}
td.projectDrag {
	width:33%;
	min-width: 200px;	
	padding:1px 1px 1px 1px;
}
.projectDrag ul {
	margin:0 0 0 0;
	padding:0 0 0 0;
	min-height: 200px;
}
.projectDrag ul li:hover {
	cursor: pointer;	
}
.projectDrag ul li {
	display:block;
	background: #2AA8B9;
	color:#fff;
	font-size:14px;
	overflow: hidden;
	position:relative;
	box-shadow: 1px 1px 1px #999999;
	border:1px solid #2AA8B9;
	border-bottom: 1px solid #194B7E;
}
.projectDrag ul li div.progressbar, .projectDrag ul li div.progressbaruser {
	background: #000;
	height:8px;
	margin-bottom:1px;
}
.projectDrag ul li div.progressbaruser {
	background: #ccc;
	height:12px;
	margin-bottom:-8px;
}

.projectDrag ul li div.actions {
	float:right;

}
.projectDrag ul li div.actions select[rel=progress] {
	display:none;
}
.projectDrag ul[rel=inprogress] li {
	background: #63ac34;
}
.projectDrag ul[rel=inprogress] li div.actions select[rel=progress] {
	display:inline-block;
}

.projectDrag ul[rel=inprogress] li div.actions span[rel=time] {
	font-size:12px;
	display:inline-block;
}


.projectDrag ul .ui-state-highlight {
	background: #fff !important;
	border:1px solid yellow;
}

.projectDrag ul li div.view {
	display: none;
}
.projectDrag ul li a.save {
	font-weight: normal;
	color:#fff;
	text-decoration: none;
	background: blue;
	border-radius: 5px;
	padding:3px;
}
.projectDrag ul[rel=finish] li {
	background: grey;
}
.projectDrag ul[rel=review] li {
	background: #e2cc93;
}
.projectDrag ul[rel=backlog] li {
	background: #a96e9c;
}
.projectDrag ul li a {
	color:#fff;
	display:inline-block;
}


div.bodyline {
	z-index:1050;
}


/*
 * scrumboard V2
 */
 
.width32p { width:32%; }
.width68p { width:68%; }
.task-content {
	padding: 10px;
}
.task-ref, .task-content, .task-title, .task-desc, .task-actions, .task-users-affected, .task-comment {
	box-sizing: border-box;
}
.task-ref, .task-title {
	margin-bottom:5px; 
}
.task-actions {
	padding: 10px 0 10px 10px;
}
.task-users-affected {
	margin:5px 0;
}
.task-users-affected a {
	margin-right:5px;
}
.task-actions img {
	padding-right:5px;
}
.task-times div, .task-comment {
	padding:4px 0;
}
